<section id="team" class="mt-5">
  <div class="container p-4">
    <h5 class="section-title h1">OUR STAFF</h5>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="frontside">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img
                  class="img-fluid"
                  src="/images/Teacher0.jpg"
                  alt="card image"
                />
              </p>
              <h4 class="card-title">Mr. Albert Oracle</h4>
              <h5>Director</h5>
            </div>
          </div>
        </div>
        <div class="backside">
          <div class="card">
            <div class="card-body text-center mt-4">
              <h4 class="card-title">Mr. John Charles</h4>
              <p class="card-text">Founder of ORACLE Institute</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="/images/Teacher1.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Mr. John Charles</h4>
                  <h6>Teacher</h6>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Mr. John Charles</h4>
                  <p class="card-text">
                    A primary teacher with a diploma with a experience of
                    six-year.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="/images/Teacher2.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Miss Lara Johnson</h4>
                  <h6>Teacher</h6>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Miss Lara Johnson</h4>
                  <p class="card-text">
                    A newly qualified teacher with a specialized degree.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="/images/Teacher3.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Mr. Carl Root</h4>
                  <h6>Teacher</h6>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Mr. Carl Root</h4>
                  <p class="card-text">
                    A special teacher for Grammer and Spoken English.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>
<!-- Team -->
