<!DOCTYPE html>
<html>
    <head>
        <title>Landing-Oracle</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="landing.css">
    </head>
    <body>
    
    <div id="landing-header">
        <h1 class="heading">Oracle Institute</h1>
       <p class=" " style="color: rgb(210, 212, 174); display: block; font-weight: 500; font-size: 18px "> Do the difficult things while they are easy and do the great things while they are small. <br>
            A journey of a thousand miles begins with a single step. <br> – Lao Tzu </p>
		<a href="/home" class="btn btn-lg btn-success">Welcome</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</body>
</html>
