body {
  background-color: #e9e7e7;
}

.formbeautify {
  margin: 2% auto;
  width: 30%;
  text-align: center;
}

#logo {
  display: block;
  margin: 0px auto 10px auto;
  width: 35%;
  border-radius: 2em;
}

.bg-navbar {
  background-color: rgb(54, 53, 52);
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  /* line-height to allow full clickable area */
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: black;
  background-color: rgb(11, 223, 205);
}

.container {
  width: 75% !important;
}

hr {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.news_box {
  background-color: white;
  min-height: 100px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  min-height: 300px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #04aa6d;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: 2px solid #04aa6d;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

input[type="submit"]:hover {
  background-color: white;
  color: #04aa6d;
  border: 2px solid #04aa6d;
}
